.modal-content {
  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;

    .info-label {
      font-weight: bold;
      color: #333;
    }

    .info-value {
      color: #666;
    }
  }
  .bold {
    border-top: 0.2px solid gray;
    border-bottom: 0.2px solid gray;
    background-color: #66666638;
  }
  .info-row:not(:last-child) {
    // border-bottom: 1px solid #eee;
  }
}
